/* reset */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h2,
h3 {
  text-decoration: none;
}
a:visited,
h2:visited,
h3:visited {
  color: inherit;
}
a:active, a:focus,
h2:active,
h2:focus,
h3:active,
h3:focus {
  outline: none;
}

ol,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
textarea {
  outline: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

html,
body {
  line-height: 1;
  margin: 0;
}

/*----------------*/
body {
  background-color: #777;
}

.custom__logo {
  width: 100px;
}

.header {
  background-color: rgb(61, 17, 17);
  color: #fff;
}

.header.header-new {
  background-color: rgb(42, 112, 87);
  color: rgb(61, 17, 17);
}

main {
  padding: 50px;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.svg {
  width: 400px;
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.text {
  font-size: 16px;
  fill: #000;
}

.svg-text {
  overflow: visible;
}

.rect {
  fill: none;
  stroke: rgb(61, 17, 17);
  stroke-width: 10px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  -webkit-transition: stroke-dashoffset 0.8s ease-in-out;
  transition: stroke-dashoffset 0.8s ease-in-out;
}

.svg-rect:hover .rect {
  stroke-dashoffset: 0;
}

.image {
  width: 500px;
  -webkit-clip-path: polygon(8% 7%, 81% 34%, 96% 65%, 84% 79%, 75% 100%, 32% 78%, 0% 75%);
          clip-path: polygon(8% 7%, 81% 34%, 96% 65%, 84% 79%, 75% 100%, 32% 78%, 0% 75%);
}

.polyline {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 10px;
}